body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
 margin-top: 15px;
 margin-bottom: 15px;
}

.main-content {

  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 17px
}



/* Main content */
.main-content-section {
  padding: 0px 90px;
}
.main-conten-tittle {
 

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  

  margin-botom: 10px;
}
/* abaut me sectio */
.abaut-me-section {
  /* margin-top: 10px; */
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
 
  background-color: rgb(201, 184, 184);
  color: white;
};


.abaut-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px 
    
  margin: 0 0 25px 0;
};

.abaut-me-description{
  /* weight: 400px; */
  margin: 0px;
  padding: 0px;
  color: #595959;
}
/* My project section */

.my_prodject_section {
  margin: 0 0 50px 0;
  
}
.my-prodject-list {
  padding: 0 0 0 15px;
  list-style-type: none;
}
.my-prodject-item {
 color: #000; 
 /* font-weight: bold; */
}



.my-prodject-duties{
  color: gray;
  /* font-size: 12px;
line-height: 20px; */

}
.work{
   padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
 
  background-color: rgb(201, 184, 184);
  color: white;
}
.my_work_company{
  color: rgb(204, 136, 136);

  
};
.my-prodject-link {

font-weight: bold;
/* font-size: 14px;
line-height: 24px; */
color: #595959;
}
.my-prodject-link-git{
  
  color:  rgb(201, 184, 184);
  text-decoration: none;
};
.work-list{
margin: 0px;
};
.my-prodject-bracket {
  font-style: normal;
  font-weight: bold;
  /* font-size: 14px;
  line-height: 24px; */
  color: #000;
}

.education{
   padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 15px;
 
};








.my_work_experience {
  margin: 0 15px 0 0;
}



.experience-duty {
 font-style: normal;
font-weight: normal;
/* font-size: 14px;
line-height: 24px; */
}


/*  Sidebar-section */
.sidebar-section {
  background-color: gray;
  width: 370px;
  padding: 40px 0;
  
}

.contacts-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  /* font-size: 22px;
  line-height: 27px; */
  color: #f5f7fa;
  margin: 10px;
}

/* contacts-section */

.contacts-section-type {
 
color: #f5f7fa;
list-style: none;
}

.contacts-section-link {
color: #dbe0e7;
font-style: normal;
font-weight: normal;
/* font-size: 14px;
line-height: 24px; */
}

/* tech-skills- */
.tech-skills-list {
  padding: 0 0 0 17px;
}

.tech-skills-item {
  color: rgb(201, 184, 184);
}

.tech-skills-text {
font-style: normal;
font-weight: normal;
/* font-size: 14px;
line-height: 24px; */
color: #f5f7fa;
}



.foto {
  border-radius: 50%;
  width: 370px;
height: 430px;
left: 40px;
top: 80px;

}